.head {
    color: rgb(230, 59, 68);
    font-size: 160%;
    text-align: center;
}

.head.recipe {
    color: rgb(54, 97, 110);
    background-color: rgb(0, 255, 157);
    
}

.links {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size:x-large;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.img.recipe {
    width: 20%;
}

.althead {
    margin-left: 3%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blueviolet;
}